.order-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}
.components {
  width: 100%;
  height: 30vh;
}
.cards-style {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 5px;
  padding-left: 63px;
}

@media (max-width: 768px) {
  .cards-style {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-style {
    grid-template-columns: 1fr;
  }
}

/* .cards-style {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  gap: 20px;
  justify-content: center;
} */
