.navbar-links{
  background-color: dimgray;
  display: flex;
  gap: 50px;
  padding: 10px 16px;
  justify-content: flex-end;
}

.navbar-link{
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.2rem;
  transition: 0.3s;
  opacity: 0.8;
}

.navbar-link:hover{
  opacity: 0.25;
}

.navbar-link.active{
  opacity: 1;
}
